.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.hero-heading {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 7rem;
  font-weight: bold;
  color: #15e24f;
}

.hero-subheading {
  margin: 0;
  padding-bottom: 3rem;
  font-size: 4rem;
  color: #1dd076;
}

.hero-btn {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #1dd076;
  border: 3px solid #000;
  border-radius: 40px;
  cursor: pointer;

}

.hero-btn:hover {
  background-color: #000;
  border: 3px solid #1dd076;
  color: #fff;
}
@media (max-width: 1440px) {
  .hero-heading {
    font-size: 5.5rem;
  }
  .hero-subheading {
    font-size: 3rem;
  }
  .hero-btn {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
  }
  
}


@media (max-width: 1024px) {
  .hero-heading {
    font-size: 3.8rem;
  }
  .hero-subheading {
    font-size: 2rem;
  }
  .hero-btn {
    font-size: 1.3rem;
    padding: 0.75rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 2.6rem;
  }
  .hero-subheading {
    font-size: 1.5rem;
  }
  .hero-btn {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 375) {
  .hero-heading {
    font-size: 1.8rem;
  }
  .hero-subheading {
    font-size: 1rem;
  }
  .hero-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  
}